h1 {
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: 'Mountains of Christmas', cursive;
}

h2 {
  color: black;
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

h6 {
  color: #ccc;
  text-align: center;
  font-size: 10px;
}
.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container{
  position: relative !important;
}
